<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row" style="padding-top:5px;">
        <div class="col-12">
            <table class="table" *ngIf="events">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            StartTime
                        </th>
                        <th>
                            EndTime
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events">
                        <td>
                            {{ event.name}}
                        </td>
                        <td>
                            {{ event.description }}
                        </td>
                        <td>
                            {{ event.location}}
                        </td>
                        <td>
                            {{ event.startTime }}
                        </td>
                        <td>
                            {{ event.endTime }}
                        </td>
                        <td>
                            <button (click)="displayAttendees(event.id)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>