<body class="text-center" style="align-content:center;">
    <form name="loginForm" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onLogin()"
        class="form-signin needs-validation">
        <img class="mb-4" src="https://i.vimeocdn.com/portrait/6618683_300x300.webp" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitter && !username.valid}">
            <label for="inputUsername" class="sr-only" required>Username</label>
            <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username"
                [(ngModel)]="model.username" #username="ngModel" required autofocus>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitter && !password.valid}">
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                [(ngModel)]="model.password" #password="ngModel" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-sm btn-outline-primary btn-block" type="button" (click)="onSignup()">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
</body>